<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153422911562-djrmnav59easupfvg0u85eg26v5r6r57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153422911562-djrmnav59easupfvg0u85eg26v5r6r57</string>
	<key>API_KEY</key>
	<string>AIzaSyCDT9_2eO-_BwYi0GD_5100GEbKwGcvj6c</string>
	<key>GCM_SENDER_ID</key>
	<string>153422911562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.macmaurice.ERide</string>
	<key>PROJECT_ID</key>
	<string>eride-9484b</string>
	<key>STORAGE_BUCKET</key>
	<string>eride-9484b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153422911562:ios:837879c5524e7159376eb3</string>
</dict>
</plist>